In [1]:
# Extract the data where Team is boston celtics and weight is less than 100
# What is the avearge salary of players of team 'Los Angeles Lakers'.
# What is the average salary of player based of various position?
# Which players belong to san Diego state college.
# Which player from Toronto Raptors team has the highest salary?

# First we import pandas

In [2]:

import pandas

In [3]:
pandas.read_csv("C:\\Users\\Priyanshu Chauhan\\Downloads\\nba.csv")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# second we change the name of whole list as cv

In [4]:
 
cv = pandas.read_csv("C:\\Users\\Priyanshu Chauhan\\Downloads\\nba.csv")

In [9]:
# 1st Quetion-- Extract the data where Team is boston celtics and weight is less than 100
cv['Team'] == 'Boston Celtics'
cv['Weight'] < 100

cv[(cv['Team'] == "Boston Celtics") & (cv['Weight'] < 100)] # mean formula set.
# ans -- no one in under 100 weight

Empty DataFrame
Columns: [Name, Team, Number, Position, Age, Height, Weight, College, Salary]
Index: []

In [13]:
# 2nd Quetion-- What is the avearge salary of players of team 'Los Angeles Lakers' 
cv[cv['Team'] =='Los Angeles Lakers']['Salary'].mean()
# Ans - 478495.4

4784695.4

In [ ]:
# 3rd question-- What is the average salary of player based of various position?
cv['Position']

In [25]:
cv.groupby('Position')["Salary"].mean()

Position
C     5.967052e+06
PF    4.562483e+06
PG    5.077829e+06
SF    4.857393e+06
SG    4.009861e+06
Name: Salary, dtype: float64

In [17]:
# 4rt question-- Which players belong to san Diego state college.
cv[cv['College'] == 'San Diego State']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0

In [ ]:
# 5th questio-- Which player from Toronto Raptors team has the highest salary?
cv['Team']

In [19]:
cv[cv['Team'] == 'Toronto Raptors']['Salary'].max()

13600000.0

In [21]:
cv[(cv['Team'] == 'Toronto Raptors')
   & (cv['Salary'] == 13600000.0 )] # main formula

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
63,DeMarre Carroll,Toronto Raptors,5.0,SF,29.0,6-8,212.0,Missouri,13600000.0